body  {
background-color: #fc97d3;
color: rgb(522, 151, 211);

font-family: "Montserrat", sans-serif;
margin: 0px;
}

header {
font-size: 2.5rem;
border-bottom: inset 2px #d42a8d;
padding: 20px;
color: #b04684;
text-align: center;
}

h1 {
font-size: 1.5rem;
text-align: center;
padding-top: 10px;
}
p {
    font-size: 1rem;
text-align: center;
padding-top: 0px;
}

section {
background-color: #050003;
padding-top: 80px ;
padding-bottom: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
margin-right: 20px;
}


.chamada {
    background: rgb(522, 151, 211);
    padding-bottom: 80px;
    padding-top: 80px;
    dior: blue;
   background:green;
  margin: 0px; 
} 

header {
  border -bottom: solid 2px rgb (42, 122, 228);
  padding: 20px;
  font-size: 32px;
  color: rgb(42, 122, 2028);
  } 

  section {
    background; rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: cente;
  }
   .chamada-texto {
     margin-right: 5%;
  /*variaveis*/
:root {
--preto: #000;
--branco: #fff;
--lilas-claro: #eb76db;
--azul-médio: #2f4dd1body {
   color: blue;
   background:green;
  margin: 0px; 
} 

header {
  border -bottom: solid 2px rgb (42, 122, 228);
  padding: 20px;
  font-size: 32px;
  color: rgb(42, 122, 2028);
  } 

  section {
    background; rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: cente;
  }
   .chamada-texto {
     margin-right: 5%;
  /*variaveis*/
:root {
--preto: #000;
--branco: #fff;
--lilas-claro: #eb76db;
--azul-médio: #2f4dd1;
--amarelo:#cfe80d;
}
/*corpo da página*/
body {
color: var(--azul);/*cor da fonte*/
background-color: var(--verde-calro);/*cor de fundo*/
margin: 0px; /* não terá margem padrão*/
}

header {
border: solid 2px;
border-color: var(--varde);/*cor da borda*/
padding: 20px;/*espaçamento interno*/
font-size: 32px;/*tamanho da fonte*/
color: var(--cinza);/*cor da fonte*/
}

.chamada-texto {
background-color: var(--verde);
color: var(--cinza);
margin-right: 20px;/*margem a direita*/
}

}  splay: flex;
    justify-content: center;
}


img {
width: 300px;
    height: 200px;
}

.outras-recomendacoes {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

h2 {
    margin-left: 30px;
}
